@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar-button {
  display: none;
}


.glass {
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.38);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.3px);
  -webkit-backdrop-filter: blur(8.3px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.trans:hover :nth-child(1) {
  transform: translateY(-25px);
}
.trans:hover :nth-child(2) {
  transform: translateY(-25px);
}

.chatbtn {
  background-color: #7b52b9;
  border: 2px solid #7b52b9;
  position: relative;
  width: 6.2em;
  height: 2em;
  transition: 0.5s;
  font-size: 17px;
  border-radius: 17px;
}

.chatbtn p {
  position: absolute;
  top: 0.4em;
  left: 1.15em;
  margin: 0;
  padding: 0;
  transition: 0.5s;
  color: #ffffff;
}

.chatbtn svg {
  position: absolute;
  top: 0.45em;
  right: 0.5em;
  margin: 0;
  padding: 0;
  opacity: 0;
  transition: 0.5s;
  height: 1em;
  fill: #fff;
}

.chatbtn:hover p {
  left: 0.5em;
  color: #fff;
}

.chatbtn:hover svg {
  opacity: 1;
}

.cssbuttons-io-button {
  background: #146b96;
  color: white;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 15px;

  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #146b96;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
  cursor: pointer;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #7b52b9;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #7b52b9;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}




#carousel_inner {
  float: left;
  width: 630px;
  overflow: hidden;
  background: #F0F0F0;
}

#carousel_ul li img {
  width: 200px;
  height: 110px;
}

#carousel_ul {
  position: relative;
  left: -210px;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  width: 9999px;
  padding-bottom: 10px;
}

#carousel_ul li {
  float: left;
  width: 200px;
  padding: 0px;
  height: 110px;
  background: #000000;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

#carousel_ul li img {
  margin-bottom: -4px;
  cursor: pointer;
  cursor: hand;
  border: 0px;
}

#left_scroll, #right_scroll {
  float: left;
  height: 130px;
  width: 35px;
  margin-top: 50px;
  margin-left: 20px;
}

#left_scroll img, #right_scroll img {
  border: 0;
/* remove the default border of linked image */
/*styling*/
  cursor: pointer;
  cursor: hand;
}

#left_scroll img {
  width: 25px;
  height: 25px;
}

#right_scroll img {
  width: 25px;
  height: 25px;
}